{% include 'layout.html' %}
<title>Register And Login</title>
<body>

  <div class="wrapper">
    <div class="container">
        <ul class="login_tabs">
          <li class="sign_in_li">התחבר</li>
          <li class="sign_up_li">הירשם</li>
        </ul>

        <div class="sign_in">
          <form action = "{% url 'doctor:Conect' %}" method= "post">
            {% csrf_token %}
            {% include 'messages.html' %}

            <input type="text" placeholder="שם משתמש" class="input_s1" name="namein" id = "namein" value="{{ request.GET.namein }}"  >
            <input type="password" placeholder="סיסמה" class="input_s1" name="passwordin" id = "passwordin" value="{{ request.GET.passwordin }}" >
            <button type="Conect" class="btn sign_in_btn">התחבר</button>  	
          </form>
        </div>
        
        <div class="sign_up">
          <form action = "{% url 'doctor:submit_Doctor' %}" method= "post">
            {% csrf_token %}

            <input pattern=".{6,8}" placeholder="שם משתמש (אורך 6-8,בעל לפחות 2 ספרות וכל השאר אותיות)" class="input_s1" name="nameup" id = "nameup" value="{{ request.GET.nameup }}"required >
            <input pattern="[0-9]{9,9}" placeholder="תעודת זהות (כולל ספרת ביקורת)" class="input_s1" name="user_idup" id = "user_idup" value="{{ request.GET.user_idup }}" required>
            <input type="password" placeholder="סיסמה (אורך 8-10, מכיל לפחות אות אחת, סיפרה אחת ותו מיוחד אחד)" class="input_s1" name="passwordup" value="{{ request.GET.passwordup }}" required>
            <input type="password" placeholder="אימות סיסמה" class="input_s1" name="password2up" value="{{ request.GET.password2up }}" required>
            <button type="submit_Doctor" class="btn sign_in_btn">הירשם</button> 
          </form>
        </div>

    </div>
  </div>
<script>
  $(".sign_up").hide();
  $(".sign_in_li").addClass("active");

  $(".sign_up_li").click(function(){
    $(this).addClass("active");
    $(".sign_in_li").removeClass("active");
    $(".sign_up").show();
    $(".sign_in").hide();
  })

  $(".sign_in_li").click(function(){
    $(this).addClass("active");
    $(".sign_up_li").removeClass("active");
    $(".sign_in").show();
    $(".sign_up").hide();
  })
</script>

</body>
</html>