<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">

<style>
 @import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: 'Assistant';
}

body{
  background: #1bb1ec;
  direction: rtl;
  text-align: center;
}

.wrapper{
  width: 100%;
  margin: 50px auto;
  max-width: 450px;
  background: #dde1e7;
  box-shadow: -3px -3px 7px rgba(68, 75, 87, 0.356),
              2px 2px 5px rgba(68, 75, 87, 0.356);
}

.container{
  padding: 35px 40px;
}

h3 {
    font-size: 28px;
}

.labels_box {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.labels_left, .labels_right{
  display: flex;
    flex-direction: column;
    text-align: right;
}

.form_btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn{
  border: none;
  color: black;
  text-align: center;
  font-size: 16px;
  transition-duration: 0.4s;
  width: 135px;
  height: 35px;
  margin: 5px;
}

input[type="file"]::file-selector-button {
    border: 0;
    padding: 5px 20px;
    margin-top: 10px;
    transition: all 0.4s;
}

.btn:hover, input[type="file"]::file-selector-button:hover{
 background: #1b8cce;

}

.input_s1{
    width: 100%;
    height: 39px;
    margin: 2px auto;
    padding: 0 11px;
    background: #dde9ecb7;
    color: black;
    border-radius: 8px;
    border: 2px solid rgba(13, 162, 231, 0.596);
    box-shadow: -1px 5px 12px rgb(0 0 0 / 5%);
}

.input_s2 {
    max-width: 30%;
    padding: 5px 5px;
    margin-top: 4px;
    background: #dde9ecb7;
    color: black;
    border-radius: 8px;
    border: 2px solid rgba(13, 162, 231, 0.596);
}

/* LOGIN PAGE */
ul.login_tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

ul.login_tabs li {
    background: white;
    padding: 5px 21px;
    border: 1px solid #1bb1ec;
    width: 100%;
    transition: 0.4s all;
}

.active {
    background: #1bb1ec !important;
    color: white;
    font-weight: bold;
}

.sign_in_btn{
  width: 100%;
    margin: 15px 0 0;
    border-radius: 10px;
}

  </style>
</head>