{% include 'layout.html' %}
<title>Petient info</title>
  
<body>
{% load static %}

<div class="wrapper" >
    <img class="main_img" src="{% static 'patientQ.png' %}" alt="home" />

        <div class="tabs">
            <h3 class="title">אנא הזן פרטי מטופל</h3>
            <form action = "{% url 'doctor:patientQ' doctor.user_id %}" method= "post" enctype="multipart/form-data">

                {% csrf_token %}            
                <input type="text" placeholder="שם פרטי" class="input_s1" name="name" id = "name" value="{{ request.GET.name }}" required />
                <input type="text" placeholder="שם משפחה" class="input_s1" name="lastName" id = "lastName" value="{{ request.GET.lastName }}" required />
                <input type="number" step="0.01" placeholder="גיל(0-120)" class="input_s1" name="age" id = "age" value="{{ request.GET.age }}" min=0 max=120 required />
                <input pattern="[0-9]{9,9}" placeholder="תעודת זהות(כולל ספרת ביקורת)" minlength="9" class="input_s1" name="patient_id" id = "patient_id" value="{{ request.GET.patient_id }}" required />

                <div class="labels_box">
                    <div class="labels_right">
                        <label for="d_box2"><input type="radio" name="gender" value="woman" checked="checked" id="d_box2">אישה</label>
                        <label for="d_box2"><input type="radio" name="smoke" value="False" checked="checked" id="d_box2">לא מעשן</label>
                        <label for="d_box2"><input type="radio" name="eastCommunity" value="False" checked="checked" id="d_box2">לא מעדות המזרח</label>
                        <label for="d_box2"><input type="radio" name="pregnancy" value="False" checked="checked" id="d_box2">לא בהריון</label>
                        <label for="d_box2"><input type="radio" name="ethiopian" value="False" checked="checked" id="d_box2">לא</label>
                    </div>
                    <div class="labels_left">
                        <label for="l_box1"><input type="radio" name="gender" value="man" id="l_box1">גבר</label>
                        <label for="l_box1"><input type="radio" name="smoke" value="True" id="l_box1">מעשן</label>
                        <label for="l_box1"><input type="radio" name="eastCommunity" value="True" id="l_box1">מעדות המזרח</label>
                        <label for="l_box1"><input type="radio" name="pregnancy" value="True" id="l_box1">בהריון</label>
                        <label for="l_box1"><input type="radio" name="ethiopian" value="True" id="l_box1">בן לעדה האתיופית</label>
                    </div>
                </div>


                {% include 'messages.html' %}
                
                <h3 class="title" style="margin-top: 15px;">מלא פרטי בדיקות דם</h3>
                <h6 style="color: white;">שים לב! במידה והעלת קובץ הוא יבחר כמילוי השדות</h6>
                
                <br />

                <input type="text" placeholder="WBC" class="input_s2" name="WBC" id = "WBC" value="{{ request.GET.WBC }}" />
                <input type="number" step="0.001" placeholder="Neut(0-100)" class="input_s2" name="Neut" id = "Neut" value="{{ request.GET.Neut }}" min=0 max=100 />
                <input type="number" step="0.001" placeholder="Lymph(0-100)" class="input_s2" name="Lymph" id = "Lymph" value="{{ request.GET.Lymph }}" min=0 max=100 />
                <input type="text" placeholder="RBC" class="input_s2" name="RBC" id = "RBC" value="{{ request.GET.RBC }}" />
                <input type="number" step="0.001" placeholder="HCT(0-100)" class="input_s2" name="HCT" id = "HCT" value="{{ request.GET.HCT }}" min=0 max=100 />
                <input type="text" placeholder="Urea" class="input_s2" name="Urea" id = "Urea" value="{{ request.GET.Urea }}" />
                <input type="text" placeholder="Hb" class="input_s2" name="Hb" id = "Hb" value="{{ request.GET.Hb }}" />
                <input type="text" placeholder="Crtn" class="input_s2" name="Crtn" id = "Crtn" value="{{ request.GET.Crtn }}" />
                <input type="text" placeholder="Iron" class="input_s2" name="Iron" id = "Iron" value="{{ request.GET.Iron }}" />
                <input type="text" placeholder="HDL" class="input_s2" name="HDL" id = "HDL" value="{{ request.GET.HDL }}" />
                <input type="text" placeholder="AP" class="input_s2" name="AP" id = "AP" value="{{ request.GET.AP }}" />
                <div class="input_field">
                    <input type="file" class="file-custom" title="Upload excel file" name="excel_file">
                </div>
                <div class="form_btn">
                    <button class="btn"><a href="/homePage/{{doctor.user_id}}" role="button">חזור</a></button>
                    <button type="patientQ" class="btn">שמור פרטים</button> 
                </div>
            </form>
            
        </div>

</div>
</body>